:root {
    --f-family-body: "Roboto slab";
    --p-value-p: 2em;
}

body {
    margin: 0;
    background-color: #f9f9f9;
    padding-top: var(--p-value-p);
    padding-bottom: var(--p-value-p);
}

div {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#mainHeader {
    margin-top: 4em;
    font-family: var(--f-family-body);
    font-size: var(--p-value-p);
    text-transform: uppercase;
    color: #9f2042;
    text-align: center;
}

#mainBody {
    margin-top: 4em;
    padding-left: 1em;
}

#mainBody>input {
    border: solid;
    border-color: #ececec;
    padding: 1em;
    width: 70%;
}

button {
    border: solid;
    border-color: #ececec;
    background-color: #f9f9f9;
    padding: 1em;
    width: 20%;
}

button:hover {
    background-color: #a9a9ba;
    color: #9f2042;
}

#details {
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    font-family: var(--f-family-body);
    font-size: 1.25rem;
}

#footer {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #ececec;
    background-color: #29293a;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: hotpink;
}